!!!
%html
  %head
    %title Tf2lcs
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    - if flash[:notice]
      #notification-bar
        = image_tag("yay.png")
        = raw(flash[:notice])
    - if flash[:warning] || flash[:alert]
      #warning= raw(flash[:warning]) || raw(flash[:alert])

    #container
      #user-nav
        - if current_user
          Hello #{current_user.name}
          %br/
          - if current_user.pubby?
            You are a pubby and have no access to the kick command.  You must be a member of the Something Awful forums and a member of the Lost Continents Steam group to be not a pubby.
            Our list is sometimes out of date by up to an hour.  This will not affect your protection from being kicked, only your ability to kick others.
          = link_to "Sign Out", signout_path
        - else
          = link_to image_tag("sits_large_border.png", :alt => "Sign in with Steam"), "/auth/steam"

        %p
          %br/
          %small
            - if File.exist?(File.join(Rails.root, 'tmp', 'status_cache.txt'))
              %strong Server Status Last Update:
              %br/
              = File.mtime(File.join(Rails.root, 'tmp', 'status_cache.txt')).strftime('%B %e, %Y at %l:%M%p')
              %br/
            - if File.exist?(File.join(Rails.root, 'tmp', 'group_cache_lostcontinents.txt'))
              %strong Group Member List Last Update:
              %br/
              = File.mtime(File.join(Rails.root, 'tmp', 'group_cache_lostcontinents.txt')).strftime('%B %e, %Y at %l:%M%p')
              %br/
            %strong Current Server Time:
            %br/
            = Time.now.strftime('%l:%M%p on %B %e, %Y')
      %h1 Pubby Kicker
      = yield
      %br/
      %br/

      .spacer

      :erb
        <a href="http://www.gametracker.com/server_info/<%= ENV['RCON_ADDRESS'] %>:27015/" target="_blank"><img src="http://cache.www.gametracker.com/server_info/<%= ENV['RCON_ADDRESS'] %>:27015/b_350_20_692108_381007_FFFFFF_000000.png" border="0" width="350" height="20" alt=""/></a>

